.recipe {
  width: 68%;
  min-height: 100%;
  background-color: $color-white--dark;
  position: relative;
  &__ {
    &details__ {
      &time__serving {
        width: fit-content;
        height: 15rem;
        column-gap: 8rem;
      }

      &time,
      &serving {
        column-gap: 0.4rem;
        > img {
          margin-right: 0.6rem;
          width: 2.6rem;
          height: 2.6rem;
          user-select: none;
        }

        p {
          font-size: 1.5rem;
        }
      }

      &person {
        background-color: $color-grey--2;
        display: none;
        @extend %PersonBookmark;
        img {
          margin-left: 0.4rem;
        }
      }

      &ingredient {
        column-gap: 0.8rem;
        width: 25rem;

        img {
          width: 2.2rem;
          height: 2.2rem;
          user-select: none;
        }

        div {
          font-size: 1.4rem;
        }
      }

      &bookmark {
        @extend %PersonBookmark;
        background: linear-gradient($color-green--light, $color-green--dark);
        cursor: pointer;

        img:last-child {
          @include hiddeElement;
        }

        &:hover {
          scale: 1.05;
        }
      }

      &bookmark__person__ctn {
        column-gap: 2.4rem;
      }
    }
    &servings,
    &time {
      font-weight: 600;
    }

    &ingredients {
      width: 100%;
      min-height: 30rem;
      padding-top: 3.2rem;
      background-color: $color-white--2;
      h1 {
        text-align: center;
        @include titleStyle;
      }

      &--list {
        list-style: none;
        margin: 3.2rem auto;
        gap: 2.6rem;
        min-width: 70%;
        max-width: 90%;
        span {
          font-size: 1.3rem;
          line-height: 150%;
        }

        li {
          column-gap: 0.8rem;

          img {
            width: 2.5rem;
            height: 2.5rem;
          }
        }
      }
    }

    &directions {
      padding: 3.2rem 0;
      row-gap: 2.4rem;
      h2 {
        text-align: center;
        font-size: 1.8rem;
        @include titleStyle;
      }

      p {
        width: 80%;
        text-align: center;
        font-size: 1.4rem;
        line-height: 150%;
      }
    }

    &img {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 20rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    &title {
      position: absolute;
      left: 50%;
      bottom: 1%;
      transform: skewY(-6deg) translateX(-50%);
      font-size: 2rem;
      max-width: 250px;
      color: $color-white;
      text-align: center;
      line-height: 1.95;
      span {
        text-transform: uppercase;
        -webkit-box-direction: clone;
        box-decoration-break: clone;
        padding: 0.8rem 1.6rem;
        background: linear-gradient($color-green--light, $color-green--dark);
      }
    }

    &foreground {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $color-white--dark;
      width: 100%;
      height: 100%;
      z-index: 1000;
    }

    &loading--spinner {
      @include loadingSpinnerStyle(6rem, 6rem);
    }
  }
}
// THE CONTAINER WHERE THE PLUS & MINUS BUTTON ARE IN
.plus__minus {
  margin-left: 1.6rem;
  column-gap: 0.8rem;
}
